apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-rules
data:
  alert.rules.yml: |
    groups:
      - name: api-alerts
        rules:
          - alert: SoilMoistureLow
            expr: soil_moisture_low_total > 0
            for: 0s
            labels:
              severity: critical
            annotations:
              summary: "Umidade do solo baixa"
              description: "A média de umidade do solo caiu abaixo de 25%"

          - alert: SoilMoistureHigh
            expr: soil_moisture_high_total > 0
            for: 0s
            labels:
              severity: critical
            annotations:
              summary: "Umidade do solo alta"
              description: "A média de umidade do solo subiu acima de 75%"

          - alert: TemperatureHigh
            expr: temperature_high_total > 0
            for: 0s
            labels:
              severity: critical
            annotations:
              summary: "Temperatura alta"
              description: "A média de temperatura está acima de 35°C"

          - alert: TemperatureLow
            expr: temperature_low_total > 0
            for: 0s
            labels:
              severity: critical
            annotations:
              summary: "Temperatura baixa"
              description: "A média de temperatura caiu abaixo de 10°C"

          - alert: PrecipitationHigh
            expr: precipitation_high_total > 0
            for: 0s
            labels:
              severity: critical
            annotations:
              summary: "Precipitação alta"
              description: "A média de precipitação está acima de 50%"