apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-rules
data:
  alert.rules.yml: |
    groups:
      - name: api-alerts
        rules:

          - alert: SoilMoistureLow
            expr: increase(soil_moisture_low_total[1m]) > 0
            for: 0s
            labels:
              severity: critical
            annotations:
              summary: "Umidade do solo baixa"
              description: "Novo evento de baixa umidade detectado"

          - alert: SoilMoistureHigh
            expr: increase(soil_moisture_high_total[1m]) > 0
            for: 0s
            labels:
              severity: critical
            annotations:
              summary: "Umidade do solo alta"
              description: "Novo evento de alta umidade detectado"

          - alert: TemperatureHigh
            expr: increase(temperature_high_total[1m]) > 0
            for: 0s
            labels:
              severity: critical
            annotations:
              summary: "Temperatura alta"
              description: "Novo evento de temperatura alta detectado"

          - alert: TemperatureLow
            expr: increase(temperature_low_total[1m]) > 0
            for: 0s
            labels:
              severity: critical
            annotations:
              summary: "Temperatura baixa"
              description: "Novo evento de temperatura baixa detectado"

          - alert: PrecipitationHigh
            expr: increase(precipitation_high_total[1m]) > 0
            for: 0s
            labels:
              severity: critical
            annotations:
              summary: "Precipitação alta"
              description: "Novo evento de precipitação alta detectado"