apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    rule_files:
      - /etc/prometheus/alert.rules.yml

    scrape_configs:
      - job_name: "api-alert-dev"
        metrics_path: /metrics
        static_configs:
          - targets: ["api-alert-dev:80"]

    alerting:
      alertmanagers:
        - static_configs:
            - targets: ['alertmanager:9093']